.abilities-table {
    display: grid;
    margin: auto;
    font-size: large;
    grid-template-columns: repeat(3, 12em);
    grid-template-rows: repeat(3, 3em);
    width: fit-content;
    align-self: center;
    padding-top: 5em;
}

.abilities-cell {
    display: grid;
    grid-template-columns: 7.5em 1fr 0.55fr 1fr;

}