.abilities-table {
    display: grid;
    margin: auto;
    font-size: large;
    grid-template-columns: repeat(3, 12em);
    grid-template-rows: repeat(3, 3em);
    width: fit-content;
    align-self: center;
    padding: auto;
}

.abilities-cell {
    display: grid;
    flex-direction: row;
    grid-template-columns: 7em 5em;
    width: fit-content;
}