.abilities-table {
    display: grid;
    font-size: 17px;
    grid-template-columns: repeat(3, 12em);
    grid-template-rows: repeat(3, 3em);
    width: fit-content;
}

.abilities-cell {
    display: flex;
}

.abilities-cell > :nth-child(1) {
    flex: 7;
}

.abilities-cell > :nth-child(2) {
    flex: 5;
}
