.aspects-creator {
    align-items: center;
    display: grid;
    grid-template-columns: 3fr 1fr 2fr;
    padding-top: 3em
}

.standard-text {
    font-size: large;
    text-align: center;
    padding: 0 2em;
    white-space: pre-wrap;
}

.aspects-table {
    display: flex;
    flex-direction: column;
}

.aspect-input-row {
    display: flex;
    width: 10px;
}

.aspect-input-row > :nth-child(1) {
    flex: 1;
}

.aspect-input-row > :nth-child(2) {
    flex: 2;
}

.aspect-row {
    padding: 0.1em 0 0.1em 0.5em;
    display: flex;
    border: 2px solid black;
    align-items: center;
}

.aspect-row > :nth-child(1) {
    flex: 1;
}

.aspect-row > :nth-child(2) {
    width: 100px;
}