.available-points-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.available-points-text {
    font-size: xx-large;
    padding-bottom: 0.5em;
}

.available-points-value {
    display: inline-flex;
    align-items: center;
    width: fit-content;
    aspect-ratio: 1 / 1;

    border: 0.1em solid black;
    font-size: xx-large;
    border-radius: 50%;
    padding: 0.5em;
}