.available-points-container {
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.available-points-text {
    font-size: xx-large;
    text-align: center;
}

.available-points-value {
    font-size: xx-large;
    text-align: center;
}