.available-points-container {
    display: flex;
    align-items: center;
    gap: 1.2em;
}

.available-points-text {
    font-size: 1.8em;
}

.available-points-value {
    display: inline-flex;
    align-items: center;
    width: fit-content;
    height: 0.6em;

    border: 0.12em solid black;
    font-size: 1.8em;
    border-radius: 40%;
    padding: 0.4em;
}