.character-creator-section {
    display: flex;
}

.character-creator-section > :nth-child(1) {
    flex: 2;
}

.character-creator-section > :nth-child(2) {
    flex: 3;
}

.explainer-text {
    text-align: left;
    padding: 0 2em;
    white-space: pre-wrap;
}

.explainer-text > .title {
    font-size: xx-large;
}

.explainer-text > .body {
    font-size: medium;
}