.number-inc-dec-cell {
    display: flex;
}

.number-inc-dec-cell > :nth-child(1) {
    flex: 2;
}

.number-inc-dec-cell > :nth-child(1):hover {
    cursor: pointer;
}

.number-inc-dec-cell > :nth-child(2) {
    text-align: center;
    flex: 1;
}

.number-inc-dec-cell > :nth-child(3) {
    flex: 2;
}

.number-inc-dec-cell > :nth-child(3):hover {
    cursor: pointer;
}
