.aspects-creator {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.standard-text {
    font-size: large;
    text-align: center;
    padding: 0 2em;
    white-space: pre-wrap;
}

.aspects-table {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.aspect-input-row {
    display: flex;
    width: 20em;
    gap: 1em;
    margin-bottom: 1em;
    padding-left: 1em;
}

.aspect-input-row > :nth-child(1) {
    flex: 1;
    padding: 0.5em;
}

.aspect-input-row > :nth-child(2) {
    flex: 2;
}

.aspect-row {
    padding: 0.1em 0 0.1em 0.5em;
    display: flex;
    border: 2px solid black;
    align-items: center;
    width: 50%;
    height: 1.8em;
}

.aspect-row > :nth-child(1) {
    flex: 1;
}

.aspect-row > :nth-child(2) {
    width: 6em;
}

.aspect-row > :nth-child(3) {
    width: 3em;
}

.aspect-row > :nth-child(3):hover {
    cursor: pointer;
}